venv/
.venv/
.idea/
__pycache__/
*.pyc
db.sqlite3
.env
/cl_file_trader/LOGGING_USAGE.py
/cl_file_trader/settings_default.py
/apps/ads/migrations/
/apps/__init__.py
/apps/accounts/migrations/
/apps/core/migrations/
/apps/files/migrations/
/apps/search/migrations/
/apps/subscriptions/migrations/
/logs/
/media/
/staticfiles/
